<h1>Add a project update!</h1>

<%= form_for [@project, @post] do |f| %>
    <fieldset>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :description %>
            <%= f.text_field :description %>
        </div>
    </fieldset>
    <%= f.fields_for :document do |document_fields| %>
        <%= document_fields.input :attachment, as: :file %>
    <% end %>
    <%= f.submit %>

<% end %>